.layout {
  min-height: 100vh;

  .site-layout {
    padding: 24px;

    .site-layout-content {
      background: #fff;
      padding: 24px;
      min-height: 280px;
      border-radius: 4px;
    }
  }
}
