@import './header.scss';
@import './sider.scss';

.layout{
  height: 100%;
  background-color: #f3f3f3;
  .main{
    display: flex;
    height: calc(100% - 68px);
    .content{
      flex: 1;
      margin: 12px 10px 0;
      padding: 12px;
      background-color: #fff;
      overflow-y: auto;
    }
  }
}