.ant-layout-sider {
  .ant-menu-inline {
    // 去掉右边蓝色指示条
    .ant-menu-item::after {
      display: none !important;
    }

    // 选中项样式
    .ant-menu-item-selected {
      background-color: #e3e8eb !important; // 更柔和的背景色
      color: #1677ff !important; // 文字颜色
      font-weight: 500; // 文字加粗
      margin: 0 !important; // 去掉间距
    }

    // hover效果
    .ant-menu-item:hover {
      // color: #1677ff !important;
      background-color: #e3e8eb !important;
    }

    // 菜单项样式
    .ant-menu-item {
      height: 40px;
      line-height: 40px;
      margin: 0 !important; // 去掉间距
      border-radius: 0; // 去掉圆角

      // 图标样式
      .anticon {
        font-size: 16px;
      }
    }
  }
}
